@import url(normalize.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@font-face {
  font-family: 'Caviar Dreams Regular';
  src: url("fonts/CaviarDreams.eot");
  src: url("fonts/CaviarDreams.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams.woff") format("woff"), url("fonts/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams Bold';
  src: url("fonts/CaviarDreams-Bold.eot");
  src: url("fonts/CaviarDreams-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams-Bold.woff") format("woff"), url("fonts/CaviarDreams-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #474747;
}

a {
  text-decoration: none;
  color: inherit;
}

a.link {
  text-decoration: underline;
  color: #4fc3f7;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 18px 0;
}

p {
  font-size: 18px;
  margin: 18px 0;
  font-weight: 300;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.owl-nav span {
  display: none;
}

.owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-next, .owl-prev {
  width: 16px;
  height: 28px;
  opacity: .7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.owl-next:hover, .owl-prev:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(0px 0px 2px #474747);
          filter: drop-shadow(0px 0px 2px #474747);
}

.owl-carousel--white .owl-dot {
  background-color: #fff;
}

.owl-carousel--white .owl-next {
  background: url("../img/arrow-right.png") center center no-repeat;
}

.owl-carousel--white .owl-prev {
  background: url("../img/arrow-left.png") center center no-repeat;
}

.owl-carousel--dark .detail-page {
  color: #4fc3f7;
}

.owl-carousel--dark .owl-dot {
  background-color: #cde9f6;
}

.owl-carousel--dark .owl-next {
  background: url("../img/arrow-right_dark.png") center center no-repeat;
}

.owl-carousel--dark .owl-prev {
  background: url("../img/arrow-left_dark.png") center center no-repeat;
}

.soc-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.soc-wrap__icon {
  height: 25px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-left: 22px;
}

.soc-wrap__icon path, .soc-wrap__icon circle, .soc-wrap__icon polygon {
  fill: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.soc-wrap__icon:hover {
  -webkit-filter: drop-shadow(0px 0px 3px #4fc3f7);
          filter: drop-shadow(0px 0px 3px #4fc3f7);
}

.soc-wrap__icon:hover path, .soc-wrap__icon:hover circle, .soc-wrap__icon:hover polygon {
  fill: #4fc3f7 !important;
}

.header-banner {
  max-width: 1080px;
  height: 137px;
  background-color: #dddddd;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  cursor: pointer;
}

.header-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header-info__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-info__row:first-child {
  margin-bottom: 22px;
}

.header-info__title {
  margin-right: 30px;
}

.header-info__value {
  font-size: 24px;
}

.header-info__value img {
  margin-left: 14px;
}

.header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__img {
  width: 95px;
  margin-right: 22px;
}

.header-logo__title {
  font-family: 'Caviar Dreams Bold';
  font-size: 36px;
  text-transform: uppercase;
}

.header-logo__desc {
  font-family: 'Caviar Dreams Regular';
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3.92px;
  margin-top: 20px;
}

.header-logo__wrap {
  text-align: center;
}

.header-search__label {
  position: relative;
}

.header-search__input {
  border: 1px solid #1f1f1f;
  width: 206px;
  border-radius: 18px;
  background-color: #fff;
  opacity: 0.1;
  font-size: 16px;
  outline: none;
  padding: 8px 48px 8px 16px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header-search__input:focus, .header-search__input:not([value=""]) {
  opacity: 1;
  -webkit-box-shadow: 0 0 3px 1px #4fc3f7;
          box-shadow: 0 0 3px 1px #4fc3f7;
  border-color: #4fc3f7;
}

.header-search__btn {
  width: 25px;
  height: 28px;
  background: url("../img/search.png") center center no-repeat;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 15px;
  outline: none;
}

.header-search__sub {
  width: 165px;
  border-radius: 18px;
  opacity: 0.7;
  background-color: #4fc3f7;
  padding: 8px;
  text-align: center;
  border: 0;
  color: #fff;
  margin-left: 14px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-search__sub:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 3px 1px #4fc3f7;
          box-shadow: 0 0 3px 1px #4fc3f7;
}

.header-search__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.header-search .soc-wrap__icon path, .header-search .soc-wrap__icon circle, .header-search .soc-wrap__icon polygon {
  fill: #474747;
}

.header-nav {
  background-color: #4fc3f7;
}

.header-nav__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav__item {
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin: 0 14px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-nav__item:hover {
  color: #4fc3f7;
  background-color: #cde9f6;
}

.header-nav__item a {
  display: block;
  padding: 23px 10px;
}

.main-slider {
  width: 100%;
  height: 660px;
  position: relative;
}

.main-slider__container {
  position: relative;
  z-index: 1;
}

.main-slider__item {
  width: 100%;
  height: 660px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-slider .owl-dots {
  position: absolute;
  bottom: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-slider .owl-dot {
  width: 55px;
  height: 7px;
  background-color: #fff;
  margin: 0 5px;
}

.main-slider .owl-dot.active {
  background-color: #4fc3f7;
}

.main-slider .owl-nav {
  left: 50%;
}

.main-slider .owl-next {
  position: absolute;
  left: 705px;
}

.main-slider .owl-prev {
  position: absolute;
  left: -705px;
}

.news-section {
  margin-bottom: 250px;
}

.cyprus-trends {
  margin-left: 32px;
}

.cyprus-trends__img {
  width: 448px;
  height: 336px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.cyprus-trends__title {
  font-weight: 400;
}

.main-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
}

.main-content {
  width: -webkit-calc(100% - 480px);
  width: calc(100% - 480px);
}

.main-content__title, .main-content__desc {
  padding: 0 54px;
}

.section-block {
  padding: 12px 54px;
  background-color: #cde9f6;
  margin-top: 66px;
}

.slider-container {
  position: relative;
  margin-bottom: 56px;
}

.slider-container--bottom {
  margin-bottom: -193px;
}

.slider-container--bottom .owl-item {
  margin-top: 44px;
}

.slider-container--bottom .owl-item:first-child {
  margin-top: 0;
}

.slider-container--top {
  margin-top: -55px;
}

.slider-container--top .owl-item {
  margin-top: 44px;
}

.slider-container--top .owl-item:first-child {
  margin-top: 0;
}

.detail-page {
  font-size: 20px;
  position: absolute;
  top: 227px;
  right: 0;
  z-index: 1;
}

.detail-page--goods {
  top: auto;
  bottom: -37px;
}

.detail-page--blue {
  color: #4fc3f7;
}

.detail-page--location {
  top: auto;
  bottom: 0;
}

.card-slider {
  position: relative;
}

.card-slider__item {
  width: 164px;
  padding-bottom: 11px;
  border-radius: 5px;
  margin: 10px 6px 10px 6px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.55);
          box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.55);
}

.card-slider__img {
  width: 100%;
  height: 88px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-slider__subtitle {
  font-size: 14px;
  margin: 4px 0 11px;
  margin-right: 5px;
  padding: 0 9px;
}

.card-slider__desc {
  display: none;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 13px;
  padding: 0 15px;
}

.card-slider__author {
  font-size: 12px;
  font-weight: 700;
}

.card-slider__date {
  font-size: 14px;
  font-weight: 300;
  display: none;
}

.card-slider__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9px;
}

.card-slider .owl-dots {
  position: absolute;
  right: 0;
  bottom: 6px;
}

.card-slider .owl-dot {
  width: 44px;
  height: 6px;
  margin-left: 20px;
  display: none;
}

.card-slider .owl-dot:nth-child(4n + 1) {
  display: inline-block;
}

.card-slider .owl-dot.active {
  background-color: #4fc3f7;
}

.card-slider .owl-nav {
  width: 100%;
}

.card-slider .owl-prev {
  left: -34px;
  position: absolute;
}

.card-slider .owl-next {
  right: -34px;
  position: absolute;
}

.card-slider .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card-slider .owl-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.card-slider .owl-item:nth-child(n+5) {
  min-width: 205px !important;
}

.card-slider .owl-item:first-child .card-slider__date {
  display: block;
}

.card-slider .owl-item:first-child .card-slider__desc {
  display: block;
}

.card-slider .owl-item:first-child .card-slider__item {
  width: 284px;
}

.card-slider .owl-item:first-child .card-slider__img {
  height: 151px;
}

.card-slider .owl-item:first-child .card-slider__subtitle {
  margin: 9px 0 17px;
  margin-right: 5px;
  font-size: 16px;
  padding: 0 12px;
  display: inline-block;
}

.card-slider .owl-item:first-child .card-slider__row {
  padding: 0 15px;
  margin-top: 9px;
}

.card-slider .owl-item:first-child .card-slider__author {
  font-size: 14px;
}

.transport-type {
  margin: 22px 0 46px;
}

.transport-type__item {
  background-color: transparent;
  border-radius: 24px;
  padding: 11px 26px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  font-size: 22px;
}

.transport-type__item.active {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.55);
          box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.55);
}

.transport-type__tab {
  display: none;
}

.transport-type__tab.active {
  display: block;
}

.events-section {
  margin-bottom: 100px;
}

.rent-type {
  margin: 23px 0 90px;
  padding: 0 54px;
}

.rent-type__item {
  padding: 11px 47px;
  font-size: 22px;
  border-radius: 24px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.rent-type__item.active {
  color: #fff;
  -webkit-box-shadow: 0 0 3px 1px #4fc3f7;
          box-shadow: 0 0 3px 1px #4fc3f7;
  background-color: #4fc3f7;
}

.rent-type__tab {
  display: none;
}

.rent-type__tab.active {
  display: block;
}

.goods-slider--bottom {
  margin-bottom: -60px;
}

.goods-slider--top {
  margin-top: -70px;
}

.goods-slider__img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 100%;
  height: 174px;
}

.goods-slider__item {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.55);
          box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.55);
  padding-bottom: 2px;
  margin: 6px;
  width: 195px;
  background-color: #fff;
}

.goods-slider__title {
  font-size: 16px;
  margin: 8px 0 18px;
  padding: 0 16px;
}

.goods-slider__title--geo {
  position: relative;
  padding-left: 32px;
}

.goods-slider__title--geo::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 15px;
  background: url("../img/pin.png") center center no-repeat;
  width: 11px;
  height: 14px;
}

.goods-slider__price {
  font-size: 22px;
  font-weight: 600;
  margin: 18px 0;
  padding: 0 16px;
}

.goods-slider__info {
  margin: 18px 0 10px;
  font-size: 14px;
  font-weight: 300;
  padding: 0 16px;
}

.photo-slider__item {
  width: 812px;
  height: 420px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.photo-slider .owl-nav {
  width: 100%;
}

.photo-slider .owl-prev {
  position: absolute;
  left: -34px;
}

.photo-slider .owl-next {
  position: absolute;
  right: -34px;
}

.photo-slider .owl-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 16px;
}

.photo-slider .owl-dot {
  height: 7px;
  width: 55px;
  background-color: #fff;
  margin: 0 10px;
}

.photo-slider .owl-dot.active {
  background-color: #4fc3f7;
}

.location-slider--bottom {
  padding-bottom: 40px;
  margin-bottom: -100px;
}

.location-slider .owl-nav {
  width: 100%;
}

.location-slider .owl-next {
  background: url("../img/arrow-right.png") center center no-repeat;
  position: absolute;
  right: -34px;
}

.location-slider .owl-prev {
  background: url("../img/arrow-left.png") center center no-repeat;
  position: absolute;
  left: -34px;
  top: 0;
}

.location-slider__item {
  width: 398px;
  min-height: 293px;
  background-position: cener cenner;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.55);
          box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.55);
  margin: 6px;
}

.location-slider__content {
  min-height: 100%;
  width: 174px;
  text-align: center;
  color: #fff;
  position: relative;
  padding: 23px 6px 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location-slider__content--blue::before, .location-slider__content--red::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
}

.location-slider__content--blue::before {
  background-color: #01579b;
}

.location-slider__content--red::before {
  background-color: #3d1f1c;
}

.location-slider__wrap {
  position: relative;
}

.location-slider__title {
  font-size: 21px;
  font-weight: 600;
  padding-bottom: 15px;
  position: relative;
}

.location-slider__title::before {
  content: '';
  width: 44px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.location-slider__desc {
  font-size: 14px;
  line-height: 20px;
  margin: 17px 0 26px;
}

.location-slider__geo {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  padding-left: 17px;
  padding-top: 3px;
}

.location-slider__geo::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 11px;
  height: 14px;
  background: url("../img/pin-white.png") center center no-repeat;
}

.location-slider__btn {
  padding: 8px 11px;
  border: 2px solid #ffffff;
  border-radius: 18px;
  font-size: 14px;
  background: transparent;
  color: #fff;
  margin-top: 16px;
}

.location-slider .owl-dots {
  position: absolute;
  bottom: -38px;
  left: 0;
}

.location-slider .owl-dot {
  height: 5px;
  width: 44px;
  background-color: #cde9f6;
  margin-left: 8px;
}

.location-slider .owl-dot.active {
  background-color: #4fc3f7;
}

.realty-section {
  margin-bottom: 150px;
}

.footer-nav {
  background-color: #4fc3f7;
  padding: 20px 0;
  color: #fff;
}

.footer-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav__icon {
  height: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

.footer-nav__link {
  font-size: 20px;
  vertical-align: middle;
}

.footer-nav__item {
  padding: 0 20px 0 12px;
  position: relative;
}

.footer-nav__item:not(:last-child) {
  border-right: 2px solid #fff;
}

.footer {
  background-color: #01579b;
  padding: 62px 0 50px;
  color: #fff;
}

.footer__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo__img {
  width: 130px;
}

.footer-logo__title {
  font-size: 45px;
  text-transform: uppercase;
}

.footer-logo__subtitle {
  font-size: 30px;
  margin: 20px 0 12px;
  text-transform: uppercase;
}

.footer-logo__desc {
  font-size: 20px;
}

.footer-logo__wrap {
  text-align: center;
  margin-left: 20px;
}

.footer-soc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-soc__title {
  font-size: 30px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.footer-soc__app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 26px 0 18px;
}

.footer-soc__app-img {
  margin-left: 15px;
  height: 48px;
}

.footer__cop {
  margin-bottom: 30px;
  max-width: 444px;
}

.footer__politic {
  display: block;
  text-decoration: underline;
}
