$white: #fff;
$black: #141414;
$blue: #4fc3f7;
$lt: #cde9f6;
$box-shadow: 0 0 3px 1px $blue;

* {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body,
html {
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $black;
}

a{
    text-decoration: none;
    color: inherit;
    &.link{
        text-decoration: underline;
        color: $blue;
    }
}

h2{
    font-size: 32px;
    font-weight: 600;
    margin: 18px 0;
}
p{
    font-size: 18px;
    margin: 18px 0;
    font-weight: 300;
}
button{
    border: 0;
    outline: none;
    cursor: pointer;
}
button:active, button:focus{
    outline: none !important;
}
button::-moz-focus-inner {
    border: 0 !important;
}
.container{
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.slider-pagination{
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    z-index: 1;
    span{
        width: 44px;
        height: 6px;
        background-color: $white;
        margin: 0 5px;
        &.active{
            background-color: $blue;
        }
    }
    &--dark span{
        background-color: $lt;
    }
}

.slider-button-container{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.slider-button-next,.slider-button-prev{
    position: absolute;
    transform: translateY(-50%);
    width: 16px;
    height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .65;
    transition: .3s;
    &:hover{
        opacity: 1;
        filter: drop-shadow( 0px 0px 3px $black );
    }
}

.slider-button-next{
    background-image: url('../img/arrow-right.png');
    right: 15px;
    &--black{
        background-image: url('../img/arrow-right_dark.png');
    }
}

.slider-button-prev{
    background-image: url('../img/arrow-left.png');
    left: 15px;
    &--black{
        background-image: url('../img/arrow-left_dark.png');
    }
}
.swiper-button-disabled:hover{
    opacity: .65;
    cursor: default;
    filter: none;
}
.soc-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a:not(:first-child){
        margin-left: 22px;
    }
    &__icon{
        height: 25px;
        transition: .3s;
        path, circle, polygon{
            fill: $white;
            transition: .3s;
        }
        &:hover{
            filter: drop-shadow( 0px 0px 3px $blue );
            path, circle, polygon{
                fill: $blue !important;
            }
        }
    }
    &--nav{
        display: none;
    }
}