$white: #fff;
$black: #474747;
$blue: #4fc3f7;
$lt: #cde9f6;
$box-shadow: 0 0 3px 1px $blue;

* {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body,
html {
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $black;
}

a{
    text-decoration: none;
    color: inherit;
    &.link{
        text-decoration: underline;
        color: $blue;
    }
}

h2{
    font-size: 32px;
    font-weight: 600;
    margin: 18px 0;
}
p{
    font-size: 18px;
    margin: 18px 0;
    font-weight: 300;
}
button{
    border: 0;
    outline: none;
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}
.owl-nav span{
    display: none;
}
.owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-next,.owl-prev{
    width: 16px;
    height: 28px;
    opacity: .7;
    transition: .3s;
    &:hover{
        opacity: 1;
        filter: drop-shadow( 0px 0px 2px $black );
    }
}
.owl-carousel--white{
    .owl-dot{
        background-color: $white;
    }
    .owl-next{
        background: url('../img/arrow-right.png') center center no-repeat;
    }
    .owl-prev{
        background: url('../img/arrow-left.png') center center no-repeat;
    }
}
.owl-carousel--dark{
    .detail-page{
        color: $blue;
    }
    .owl-dot{
        background-color: $lt;
    }
    .owl-next{
        background: url('../img/arrow-right_dark.png') center center no-repeat;
    }
    .owl-prev{
        background: url('../img/arrow-left_dark.png') center center no-repeat;
    }
}
.soc-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__icon{
        height: 25px;
        transition: .3s;
        margin-left: 22px;
        path, circle, polygon{
            fill: $white;
            transition: .3s;
        }
        &:hover{
            filter: drop-shadow( 0px 0px 3px $blue );
            path, circle, polygon{
                fill: $blue !important;
            }
        }
    }
}