@media (max-width: 1440px){
    body{
        font-size: 16px;
    }
    .header-search__input{
        font-size: 14px;
        width: 165px;
        padding: 6px 38px 6px 12px;
    }
    .header-search__btn{
        width: 20px;
        height: 22px;
        background-size: 20px 22px;
        right: 12px;
        top: 4px;
    }
    .header-search__sub{
        width: 130px;
        border-radius: 14px;
        padding: 6px;
    }
    .soc-wrap__icon{
        height: 22px;
    }
    .header-logo__img{
        width: 75px;
    }
    .header-logo__title{
        font-size: 28px;
    }
    .header-logo__desc{
        font-size: 16px;
        margin-top: 16px;
    }
    .header-info__row:first-child{
        margin-bottom: 15px;
    }
    .header-banner{
        max-width: 865px;
        height: 110px;
    }
    .header__soc{
        margin-top: 20px;
    }
    .header-info__value{
        font-size: 20px;
    }
    .header-info__title{
        margin-right: 24px;
    }
    .header-info__value img{
        width: 22px;
    }
    .header-row{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .header-nav__item{
        margin: 0;
    }
    .header-nav__row{
        justify-content: space-between;
    }
    .header-nav__item > a{
        padding: 22px 10px 16px;
    }
    .main-slider__item, .main-slider{
        height: 524px;
    }
    .slider-button-next, .slider-button-prev{
        width: 14px;
        height: 22px;
        background-size: 14px 22px;
    }
    .main-slider .slider-pagination span{
        width: 44px;
        height: 6px;
    }
    h2{
        font-size: 28px;
        margin: 16px 0;
    }
    p{
        font-size: 16px;
        margin: 16px 0;
    }
    .cyprus-trends{
        width: 356px;
    }
    .cyprus-trends__img{
        height: 299px;
    }
    .main-content{
        width: calc(100% - 372px);
    }
    .detail-page{
        font-size: 16px;
        top: 235px;
    }
    .slider-container--bottom{
        margin-bottom: -200px;
    }
    .news-section{
        margin-bottom: 235px;
    }
    .transport-type__item{
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 20px;
    }
    .transport-type{
        margin-bottom: 28px;
    }
    .detail-page--goods{
        top: auto;
    }
    .rent-type__item{
        font-size: 18px;
        border-radius: 20px;
        padding: 10px 36px;
    }
    .rent-type{
        margin: 16px 0 20px
    }
    .events-section{
        margin-bottom: 128px;
    }
    .landmark-section{
        display: none;
    }
    .photo-slider--bottom{
        margin-bottom: -160px;
    }
    .photo-slider__item{
        height: 334px;
    }
    .footer-nav__link{
        font-size: 16px;
    }
    .footer-nav__icon{
        height: auto;
        width: 15px;
        margin-right: 10px;
    }
    .footer-logo__img{
        width: 105px;
    }
    .footer-logo__title{
        font-size: 36px;
    }
    .footer-logo__subtitle{
        font-size: 24px;
        margin: 16px 0 10px;
    }
    .footer-logo__desc{
        font-size: 16px;
    }
    .footer-soc__title{
        font-size: 24px;
        margin-bottom: 24px;
    }
    .footer-soc__app{
        margin: 18px 0 16px;
    }
    .footer-soc__app-img{
        height: 38px;
    }
    .footer{
        font-size: 14px;
        padding: 48px 0 38px;
    }
    .footer__cop{
        margin-bottom: 25px;
    }
    .drop-menu{
        left: calc(50% - 60px);
    }
    .drop-menu--right{
        left: calc(50% + 60px);
    }
    .drop-menu--detail{
        left: -24px;
    }
    .container{
        max-width: 1140px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 1140px){
    body{
        font-size: 14px;
    }
    .header-search__input{
        font-size: 12px;
        width: 136px;
        padding: 4px 32px 4px 12px;
    }
    .header-search__btn{
        width: 17px;
        height: 18px;
        background-size: 17px 18px;
        right: 9px;
        top: 2px;
    }
    .header-search__sub{
        width: 110px;
        border-radius: 12px;
        padding: 4px 6px;
    }
    .soc-wrap__icon{
        height: 18px;
    }
    .soc-wrap a:not(:first-child){
        margin-left: 18px;
    }
    .header-logo__img{
        width: 64px;
        margin-right: 16px;
    }
    .header-logo__title{
        font-size: 24px;
    }
    .header-logo__desc{
        font-size: 14px;
        margin-top: 14px;
    }
    .header-banner{
        max-width: 728px;
        height: 90px;
    }
    .header__soc{
        margin-top: 16px;
    }
    .header-info__value{
        font-size: 18px;
    }
    .header-info__title{
        margin-right: 16px;
    }
    .header-info__value img{
        width: 18px;
    }
    .header-row{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .main-slider__item, .main-slider{
        height: 440px;
    }
    .slider-button-next, .slider-button-prev{
        width: 12px;
        height: 18px;
        background-size: 12px 18px;
    }
    .main-slider .slider-pagination span{
        width: 36px;
        height: 4px;
    }
    .slider-pagination span{
        width: 36px;
        height: 4px;
    }
    h2{
        font-size: 24px;
        margin: 12px 0;
    }
    p{
        font-size: 14px;
    }
    .card-slider .swiper-slide.swiper-slide-active .card-slider__subtitle{
        font-size: 14px;
    }
    .card-slider .swiper-slide.swiper-slide-active .card-slider__author,
    .card-slider .swiper-slide.swiper-slide-active .card-slider__date,
    .card-slider__subtitle{
        font-size: 12px;
    }
    .card-slider__author{
        font-size: 10px;
    }
    .card-slider__item, .card-slider .swiper-slide{
        width: 136px !important;
    }
    .card-slider .swiper-slide.swiper-slide-active .card-slider__item,
    .card-slider .swiper-slide.swiper-slide-active{
        width: 240px !important;
    }
    .card-slider__desc{
        font-size: 12px;
    }
    .card-slider__subtitle{
        padding: 0 6px;
    }
    .section-block{
        padding-left: 40px;
        padding-right: 40px;
    }
    .main-content__title, .main-content__desc{
        padding-left: 40px;
        padding-right: 20px;
    }
    .cyprus-trends{
        width: 300px;
    }
    .cyprus-trends__img{
        height: 250px;
    }
    .main-content{
        width: calc(100% - 316px);
    }
    .detail-page{
        font-size: 14px;
    }
    .slider-container--bottom{
        margin-bottom: -200px;
    }
    .news-section{
        margin-bottom: 235px;
    }
    .transport-type__item{
        font-size: 16px;
        padding: 7px 14px;
        border-radius: 16px;
    }
    .transport-type{
        margin-bottom: 28px;
    }
    .goods-slider{
        width: 100%;
        transform: none;
    }
    .goods-slider .swiper-slide, .goods-slider__item{
        width: 170px !important;
    }
    .goods-slider__title{
        font-size: 14px;
        margin-bottom: 12px;
    }
    .goods-slider__img{
        height: 146px;
    }
    .card-slider__img{
        height: 72px;
    }
    .goods-slider__price{
        font-size: 18px;
        margin: 12px 0;
    }
    .goods-slider__info{
        font-size: 12px;
    }
    .detail-page--goods{
        top: auto;
    }
    .rent-type__item{
        font-size: 16px;
        border-radius: 16px;
        padding: 7px 28px;
    }
    .rent-type{
        margin: 16px 0 20px
    }
    .photo-slider__item{
        height: 280px;
    }
    .footer-nav__link{
        font-size: 14px;
    }
    .footer-nav__icon{
        width: 13px;
        margin-right: 8px;
    }
    .footer-nav__item{
        padding-right: 8px;
        padding-left: 12px;
    }
    .footer-nav{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .footer-logo__img{
        width: 90px;
    }
    .footer-logo__title{
        font-size: 30px;
    }
    .footer-logo__subtitle{
        font-size: 22px;
        margin: 0px 0 3px;
    }
    .footer-logo__desc{
        font-size: 13px;
    }
    .footer-soc__title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .footer-soc__app{
        margin: 14px 0 12px;
    }
    .footer-soc__app-img{
        height: 32px;
    }
    .footer{
        font-size: 13px;
        padding: 36px 0 32px;
    }
    .footer__cop{
        margin-bottom: 20px;
    }
    .container{
        max-width: 970px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}
@media(max-width: 970px){
    .container{
        max-width: 100%;
        padding-left: 35px;
        padding-right: 35px;
    }
    body{
        font-size: 18px;
    }
    .header-logo__img{
        width: 52px;
        margin-right: 10px;
    }
    .header-logo__title{
        font-size: 20px;
    }
    .header-logo__desc{
        font-size: 16px;
        letter-spacing: 3.92px;
        margin-top: 10px;
    }
    .header__soc, .header-search__sub, .header-info, .drop-menu{
        display: none;
    }
    .cyprus-trends{
        width: 100%;
        max-width: 520px;
        padding: 0 50px;
    }
    .cyprus-trends__img{
        height: 348px;
    }
    .burger-menu{
        display: block;
    }
    .header-banner{
        height: 60px;
        max-width: 100%;
    }
    .header-nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 400px;
        background-color: $white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translateX(calc(-100% - 10px));
        transition: transform .4s;
        &.active{
            transform: translateX(0);
        }
    }
    .header-nav__row{
        flex-direction: column;
        height: 100vh;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 60px 30px 30px;
    }
    .header-nav__item > a{
        padding: 0;
    }
    .header-nav__item{
        margin: 13px 0;
        font-size: 24px;
        text-transform: none;
        color: $black;
        &:hover{
            background: none;
        }
    }
    .header-search__sub--hide{
        display: block;
        width: 180px;
        font-size: 21px;
        padding: 12px 26px;
        margin: 0 auto 38px;
        border-radius: 24px;
    }
    .soc-wrap--nav{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 80px;
        a{
            display: flex;
            justify-content: center;
            width: 25%;
            margin: 10px 0;
            margin-left: 0 !important;
        }
        .soc-wrap__icon path, .soc-wrap__icon circle, .soc-wrap__icon polygon{
            fill: $black;
        }
        .soc-wrap__icon{
            height: 26px;
        }
    }
    .burger-menu__close{
        display: block;
    }
    .main-slider__item, .main-slider{
        height: 510px;
    }
    .slider-button-container{
        display: none;
    }
    h2{
        font-size: 27px;
        margin: 12px 0;
    }
    p{
        font-size: 21px;
        margin: 12px 0;
    }
    .card-slider__item, .card-slider .swiper-slide,
    .card-slider .swiper-slide.swiper-slide-active .card-slider__item,
    .card-slider .swiper-slide.swiper-slide-active{
        width: 272px !important;
        margin-top: 0 !important;
    }
    .card-slider .swiper-slide.swiper-slide-active{
        .card-slider__desc{
            display: none;
        }
    }
    .main-content{
        width: 100%;
    }
    .main-wrap{
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
        align-items: center;
    }
    .section-block .slider-pagination{
        display: none;
    }
    .card-slider__img{
        height: 145px !important;
    }
    .card-slider__subtitle{
        font-size: 21px !important;
        padding: 0 15px !important;
        margin: 4px 0 10px !important;
    }
    .card-slider__row{
        padding: 0 15px !important;
        margin: 0 !important;
    }
    .card-slider__author, .card-slider__date{
        font-size: 18px !important;
    }
    .card-slider__date{
        display: block;
    }
    .detail-page{
        font-size: 21px;
        top: auto;
        bottom: -26px;
    }
    .section-block{
        padding-left: 35px;
        padding-right: 35px;
    }
    .card-slider .swiper-slide:first-child .card-slider__desc{
        display: none;
    }
    .goods-slider .swiper-slide, .goods-slider__item{
        width: 228px !important;
    }
    .goods-slider__img{
        height: 196px;
    }
    .goods-slider__title{
        font-size: 18px;
    }
    .goods-slider__price{
        font-size: 24px;
    }
    .goods-slider .swiper-slide{
        width: auto;
    }
    .transport-type__item{
        font-size: 21px;
        padding: 12px 28px;
        border-radius: 24px;
    }
    .transport-type{
        width: 368px;
        margin-left: auto;
        margin-right: auto;
    }
    .rent-type{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .rent-type__item{
        font-size: 21px;
        border-radius: 24px;
        padding: 12px 46px;
    }
    .footer-nav__list{
        flex-direction: column;
        align-items: flex-start;
        width: 312px;
        margin: 0 auto;
    }
    .footer-nav__item:not(:last-child){
        border-right: 0;
        margin-bottom: 18px;
    }
    .footer-nav__link{
        font-size: 21px;
    }
    .footer-nav__icon{
        width: 21px;
        margin-right: 22px;
    }
    .footer-nav{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .photo-slider{
        max-width: 566px;
        margin-left: auto;
        margin-right: auto;
    }
    .photo-slider__item{
        height: 378px;
    }
    .footer{
        text-align: center;
    }
    .footer__wrap{
        flex-direction: column;
        align-items: center;
    }
    .footer-soc{
        align-items: center;
        margin: 42px 0 0 0;
    }
    .footer__cop{
        max-width: 337px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-logo__img{
        width: 118px;
    }
    .footer-logo__title{
        font-size: 41px;
    }
    .footer-logo__subtitle{
        font-size: 27px;
    }
    .footer-logo__desc{
        font-size: 18px;
    }
    .footer-soc__title{
        font-size: 24px;
    }
    .footer-soc .soc-wrap__icon{
        height: 24px;
    }
    .footer-soc__app{
        margin: 35px 0 40px;
    }
    .footer-soc__app-img{
        height: 58px;
    }
    .footer-soc__mail{
        display: none;
    }
    .footer{
        font-size: 21px;
    }
    .detail-page--goods{
        bottom: 0;
    }
    .landmark-section{
        display: block;
    }
    .photo-slider--bottom{
        margin-bottom: 0px;
    }
    .photo-slider{
        margin-bottom: 40px;
    }
    .detail-page--location{
        bottom: 0;
    }
    .location-slider__item{
        width: 100%;
        max-width: 566px;
        min-height: 416px;
        margin: 0 auto;
    }
    .location-slider__title{
        font-size: 28px;
    }
    .location-slider__title::before{
        width: 62px;
        height: 5px;
    }
    .location-slider__content{
        width: 284px;
    }
    .location-slider__desc{
        font-size: 20px;
    }
    .location-slider__geo{
        display: none;
    }
    .location-slider__btn{
        font-size: 18px;
        padding: 12px 14px;
        border-radius: 23px;
    }
    .photo-slider .slider-pagination{
        display: flex;
    }
    .header-info--mob{
        display: flex;
    }
    .header-search__input{
        width: 0;
        padding: 0;
        border: 0;
        height: 38px;
        &:focus, &:not([value=""]){
            box-shadow: none;
        }
    }
    .header-search__btn{
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        top: 4px;
        right: 10px;
        background-image: url('../img/search-blue.png');
    }
    .header-search__label.active{
        .header-search__input{
            width: 200px;
            font-size: 18px;
            border: 1px solid $black;
            padding: 0 46px 0 14px;
        }
    } 
}
@media (max-width: 640px) {
    .container, .section-block, .rent-type, .main-content__title, .main-content__desc{
        padding-left: 32px;
        padding-right: 32px;
    }
    .main-wrap {
        padding-left: 0;
        padding-right: 0;
    }
    .cyprus-trends__img{
        height: 279px;
    }
    .location-slider__item{
        min-height: 348px;
    }
    .header-info--mob{
        justify-content: space-between;
    }
    .header-search__input{
        width: 0;
        padding: 0;
        border: 0;
        height: 51px;
        transition: 0s;
        border-radius: 0;
    }
    .header-search__btn{
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        top: 12px;
        right: 10px;
        background-image: url('../img/search-blue.png');
    }
    .header-search__label.active{
        .header-search__input{
            width: calc(100vw - 140px);
            font-size: 18px;
            border: 0;
            border-bottom: 2px solid $black;
            padding: 0 46px 0 20px;
        }
    }
    .header-logo.active{
        display: none;
    }
    
}
@media (max-width: 540px){
    .cyprus-trends__img{
        height: 248px;
    }
    .location-slider__item{
        min-height: 310px;
    }
    .header-info--mob{
        padding-left: 30px;
        padding-right: 30px; 
    }
}
@media (max-width: 480px) {
    .container, .section-block, .rent-type, .main-content__title, .main-content__desc{
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-wrap {
        padding-left: 0;
        padding-right: 0;
    }
    .header-info--mob{
        padding: 3px 20px 6px;
    }
    .header-info--mob .header-info__title{
        font-size: 12px;
        margin-right: 8px;
    }
    .header-info--mob .header-info__value{
        font-size: 14px;
    }
    .header-info--mob .header-info__value img{
        width: 14px;
        margin-left: 6px;
    }
    .burger-menu__item{
        width: 21px;
        height: 3px;
        border-radius: 1px;
    }
    .burger-menu__item:nth-child(2){
        margin: 4px 0;
    }
    .header-logo__img{
        width: 35px;
    }
    .header-search__btn{
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        top: -4px;
    }
    .header-logo__title{
        font-size: 13px;
    }
    .header-logo__desc{
        font-size: 11px;
    }
    .header-row {
        padding: 10px 20px;
    }
    .main-slider__item, .main-slider{
        height: 228px;
    }
    body{
        font-size: 14px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
    .card-slider__item, .card-slider .swiper-slide:nth-child(n + 1), .card-slider .swiper-slide:first-child .card-slider__item, .card-slider .swiper-slide:first-child{
        width: 182px !important;
    }
    .card-slider__img{
        height: 96px !important;
    }
    .card-slider__subtitle{
        font-size: 14px !important;
        padding: 0 9px !important;
    }
    .card-slider__author, .card-slider__date{
        font-size: 12px !important;
    }
    .card-slider__row {
        padding: 0 9px !important;
    }
    .slider-container{
        min-height: 0;
    }
    .detail-page{
        font-size: 14px;
    }
    .transport-type__item {
        font-size: 14px;
        padding: 7px 14px;
        border-radius: 16px;
    }
    .transport-type{
        width: 227px;
    }
    .rent-type__item {
        font-size: 14px;
        border-radius: 16px;
        padding: 7px 28px;
    }
    .goods-slider .swiper-slide, .goods-slider__item{
        width: 152px !important;
    }
    .goods-slider{
        width: 100%;
        transform: none;
    }
    .goods-slider__img{
        height: 130px;
    }
    .goods-slider__title{
        font-size: 12px;
        padding: 0 12px;
        &--geo{
            padding-left: 25px;
        }
    }
    .goods-slider__price{
        font-size: 16px;
        padding: 0 12px;
    }
    .goods-slider__title--geo::before{
        top: 2px;
        left: 10px;
        background: url('../img/pin.png') center center no-repeat;
        background-size: 8px 10px;
        width: 8px;
        height: 10px;
    }
    .goods-slider__info{
        padding: 0 12px;
    }
    .photo-slider__item{
        height: 220px;
    }
    .footer-nav__link{
        font-size: 14px;
    }
    .footer-nav__icon {
        width: 13px;
        margin-right: 8px;
    }
    .footer-nav__list{
        width: 100%;
        max-width: 216px;
    }
    .footer-logo__img{
        width: 78px;
    }
    .footer-logo__title{
        font-size: 27px;
    }
    .footer-logo__subtitle{
        font-size: 18px;
        margin: 2px 0 4px;
    }
    .footer-logo__desc{
        font-size: 12px;
    }
    .footer-logo__wrap{
        margin-left: 12px;
    }
    .footer-soc__title{
        font-size: 16px;
    }
    .footer-soc .soc-wrap__icon{
        height: 18px;
    }
    .footer-soc__app{
        margin: 22px 0 26px;
        &-img{
            height: 40px;
        }
    }
    .footer{
        font-size: 14px;
    }
    .footer-soc{
        margin-top: 28px;
    }
    .header-search__sub--hide{
        font-size: 14px;
        border-radius: 16px;
        padding: 8px 16px;
        width: 120px;
        margin-bottom: 18px;
    }
    .header-nav__item{
        font-size: 16px;
        margin: 8px 0;
    }
    .soc-wrap--nav{
        margin-top: 36px;
    }
    .header-nav{
        max-width: 252px;
    }
    .cyprus-trends__img{
        height: 165px;
    }
    .location-slider__item{
        min-height: 252px;
    }
    .location-slider__title{
        font-size: 18px;
    }
    .location-slider__title::before{
        width: 30px;
        height: 3px;
    }
    .location-slider__desc{
        font-size: 14px;
    }
    .location-slider__content{
        width: 140px;
    }
    .location-slider__btn{
        font-size: 12px;
        padding: 8px 8px;
        border-radius: 15px;
    }
    .header-search__input{
        height: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .header-search__label.active{
        .header-search__input{
            font-size: 14px;
            width: calc(100vw - 90px);
            border: 0;
            border-bottom: 2px solid $black;
            padding: 0 46px 0 20px;
        }
    }
    .header-search__btn{
        top: 10px;
        right: 0;
    }
}